:root {
  --c1: #fff;
  --c2: #eee;
  --c3: #ddd;
  --c4: #ccc;
  --c5: #bbb;
  --c6: #aaa;
  --c7: #999;
  --c8: #888;
  --c9: #777;
  --c10: #666;
  --c11: #555;
  --c12: #444;
  --c13: #333;
  --c14: #222;
  --c15: #111;
  --c16: #000;
}
