:root {
  color-scheme: light dark;
}

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  color: light-dark(var(--c14), var(--c2));
}

#particles {
  width: 100%;
  height: 100%;
  background-color: light-dark(var(--c1), var(--c15));
  position: absolute;
  overflow: hidden;
  z-index: -1;
}

.container {
  display: flex;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.name {
  display: flex;
  margin: calc(50vh - 1em) auto 0 auto;
  font-size: 4em;
}
